body {
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
color: #333;
background: #88d5e9;
text-transform: capitalize;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 400;
}

.container{
text-align: center;
padding: 2rem;
flex: 0 0 80%;
background: antiquewhite;
border-radius: 7px;
}

button{
    display: block;
    font-size: 1.5rem;
    padding:0.5rem 1rem ;
    margin: 1rem auto;
    background-color: mediumturquoise;
    color: #fff;
    border: none;
    border-radius: 8px;
    text-transform: capitalize;  
}
button:hover{
    cursor: pointer;
    opacity: 0.7;
}

input[type=text]{
padding: 0.5rem;
margin: 1rem;
border:#134692  solid 3px;
outline: none;
font-size: 1.5rem;
border-radius: 6px;
}
input[type=text]:focus{
    box-shadow: 0 0 10px #0f0038;
}

.messageOut{
    margin: 0.5rem 0;
    color: #88d5e9;
}